<!-- <button (click)="onClick()"></button> -->

<header>
  <div class="background">
    <div class="text">
      <img class="background-img" src="../assets/spone.jpg" alt="" />
    </div>
    <div class="background-box">
      <div class="background-box-logo">
        <img src="../assets/logo-super-chef-remove.png" alt="" />
      </div>
      <h1 class="background-box-title">What´s in your fridge?</h1>
      <h5 class="background-box-subtitle">
        Just add your ingredients and SuperChef instantly finds matching recipes
        from the most popular cooking websites!
      </h5>
      <input
        class="form-control"
        type="text"
        placeholder="Search recipes by ingredients..."
        (change)="onChange($event)"
      />
    </div>
  </div>
</header>

<main>
  <div class="container">
    <div class="row">
      <div
        class="card col-lg-3 col-md-12 col-sm-12 mt-2"
        style="width: 18rem"
        *ngFor="let recipe of recipes"
      >
        <img class="card-img-top" [src]="recipe.image" alt="recipe" />
        <div class="card-body">
          <h5 class="card-title">{{ recipe.title }}</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</main>
