.header {
  width: 100%;
  height: auto;
  display: block;
  background-color: #d62828;
  margin-bottom: 20px;
}

.header .header-logo {
  max-width: 180px;
  padding: 5px 0px 5px 10px;
  cursor: pointer;
}

.header .header-logo img {
  width: 100%;
  height: auto;
  display: block;
}

h2,
h3 {
  color: #d62828;
}

/* Recipe header */
.recipe-title {
  line-height: normal;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 30px;
}

.recipe-data {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.recipe-title span {
  font-weight: bold;
}

.recipe-image {
  width: 400px;
  height: auto;
  display: block;
}

.recipe-image img {
  width: 100%;
  border-bottom: 7px solid #d62828;
}

/* .recipe-image img:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
} */

/* Recipe body */

.recipe-body {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.recipe-body-steps {
  margin-left: 70px;
}

@media (max-width: 800px) {
  .header {
    display: flex;
    justify-content: center;
  }
  .header .header-logo {
    text-align: left;
  }
  .recipe-title {
    flex-direction: column;
    margin-left: 0px;
    text-align: center;
    align-items: center;
  }

  .recipe-data {
    margin-left: 0px;
    margin-top: 3%;
    margin-bottom: 0%;
  }

  .recipe-body {
    display: flex;
    flex-direction: column;
  }

  .recipe-body-steps {
    margin-left: 0px;
  }
}

/* FOOTER */
