<nav class="container-fluid header">
  <div class="header-logo" [routerLink]="['/home']">
    <img src="../assets/logo-horizontal.png" alt="superchef" />
  </div>
</nav>

<!-- TRUE DATA -->
<body class="container recipe">
  <div class="recipe-title">
    <div class="recipe-image">
      <img [src]="recipe?.image" />
    </div>
    <div class="recipe-data">
      <h2>{{ recipe?.title }}</h2>
      <div class="recipe-data-info">
        <p><span>Cooking time:</span> {{ recipe?.readyInMinutes }} minutes</p>
        <p><span>Servings:</span> {{ recipe?.servings }}</p>
        <p>
          <a
            class="btn btn-primary"
            data-toggle="collapse"
            href="#collapseNutrition"
            role="button"
            aria-expanded="false"
            aria-controls="collapseNutrition"
          >
            Nutrition information
          </a>
        </p>
        <div class="collapse" id="collapseNutrition">
          <div class="card card-body">
            <p><span>Cabs:</span> {{ nutrition?.percentCarbs }} %</p>
            <p><span>Fat:</span> {{ nutrition?.percentFat }} %</p>
            <p><span>Protein:</span> {{ nutrition?.percentProtein }} %</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="recipe-body">
    <div class="recipe-body-ingredients">
      <h3>Ingredients</h3>
      <ul class="list-ingredients" *ngFor="let ingredient of ingredients">
        <div class="ingredient">
          <li>{{ ingredient.originalString }}</li>
        </div>
      </ul>
    </div>
    <div class="recipe-body-steps">
      <h3>Steps</h3>
      <ul class="list-group list-group-flush" *ngFor="let step of steps">
        <li class="list-group-item">{{ step.number }}. {{ step.step }}</li>
      </ul>
    </div>
  </div>
</body>

<!-- FAKE DATA  -->
<!-- <body class="container recipe">
  <div class="recipe-title">
    <div class="recipe-image">
      <img src="../assets/spone.jpg" />
    </div>
    <div class="recipe-data">
      <h2>PASTA</h2>
      <div class="recipe-data-info">
        <p><span>Cooking time:</span> 150 minutes</p>
        <p><span>Servings:</span> 5</p>
        <p>
          <a
            class="btn btn-primary"
            data-toggle="collapse"
            href="#collapseNutrition"
            role="button"
            aria-expanded="false"
            aria-controls="collapseNutrition"
          >
            Nutrition information
          </a>
        </p>
        <div class="collapse" id="collapseNutrition">
          <div class="card card-body">
            <p><span>Grasas:</span> 5%</p>
            <p><span>Protein:</span> 23,34%</p>
            <p><span>Carbs:</span> 5,3%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="recipe-body">
    <div class="recipe-body-ingredients">
      <h3>Ingredients</h3>
      <ul class="list-ingredients">
        <li class="ingredient">2 puerros grandes</li>
        <li class="ingredient">2 patatas medianas</li>
        <li class="ingredient">
          3 manzanas golden, fuji, gala... la que nos guste
        </li>
        <li class="ingredient">150 ml de leche evaporada o nata líquida</li>
        <li class="ingredient">Cebollino picado</li>
        <li class="ingredient">Mantequilla Sal y pimienta</li>
      </ul>
    </div>
    <div class="recipe-body-steps">
      <h3>Steps</h3>
      <ul class="list-ingredients">
        <li class="ingredient">Limpiamos y lavamos los puerros.</li>
        <li class="ingredient">
          Retiramos las hojas verdes y troceamos la parte blanca.
        </li>
        <li class="ingredient">
          En una cacerola fundimos un poco de mantequilla y añadimos el puerro
          troceado.
        </li>
        <li class="ingredient">
          Mientras, lavamos, pelamos y troceamos patatas y manzanas. Lo añadimos
          todo a la cazuela.
        </li>
        <li class="ingredient">
          Vertemos ahora el litro de caldo (si no tenemos, podemos hacer un
          caldo antes con las partes verdes de los puerros, la peladura de las
          patatas y las pieles y corazones de las manzanas).
        </li>
      </ul>
    </div>
  </div>
</body> -->

<!-- FOOTER -->
<app-footer></app-footer>
