<article class="recipe">
  <div class="recipe-header back-home">
    <img src="../assets/logo-super-chef-remove.png" alt="" />
  </div>
  <!-- Header 2: change with the logo to back home and an arrow. Put the recipe info after recipe-header -->
  <div class="recipe-header">
    <h2>{{ recipe?.title }}</h2>
    <p>Servings: {{ recipe?.servings }}</p>
    <div class="time">
      <p>
        Cooking time:
        {{ recipe?.cookingMinutes }} minutes
      </p>
    </div>
  </div>
  <div class="recipe-image">
    <div class="ingredient-image">
      <img [src]="recipe?.image" />
    </div>
  </div>

  <div class="recipe-text">
    <h3>Ingredients</h3>
    <div class="inner-text">
      <h3></h3>
      <ul *ngFor="let ingredient of ingredients">
        <li>{{ ingredient.originalString }}</li>
      </ul>
    </div>
  </div>

  <div class="recipe-directions">
    <h3>Instructions</h3>
    <div class="inner-directions">
      <ul *ngFor="let step of steps">
        <li>{{ step.number }}. {{ step.step }}</li>
      </ul>
    </div>
  </div>

  <div class="comments">
    <h3>Information nutritional</h3>
    <div>
      <p>Cabs: {{ nutrition?.percentCarbs }} %</p>
      <p>Fat: {{ nutrition?.percentFat }} %</p>
      <p>Protein: {{ nutrition?.percentProtein }} %</p>
    </div>
  </div>
</article>
