<div class="footer container-fluid">
  <div class="footer-name">
    <div class="footer-icons">
      <div class="footer-icon-linkedin">
        <a
          href="https://www.linkedin.com/in/ana-junquera-vara/"
          target="”_blank”"
          ><img
            src="../../assets/linkedin-icon.jpg"
            href="https://www.linkedin.com/in/ana-junquera-vara/"
            alt="linkedin"
        /></a>
      </div>
      <div class="footer-icon-github">
        <a href="https://github.com/ajv777" target="”_blank”"
          ><img
            src="../../assets/github-icon.png"
            href="https://www.linkedin.com/in/ana-junquera-vara/"
            alt="linkedin"
        /></a>
      </div>
    </div>
    <p>©2020 | Designed By: Ana Junquera | All rights reserved</p>
  </div>
</div>
